<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pirate Name: <%= @pirate.name %></h1>
    <p>Pirate Height: <%= @pirate.height %></p>
    <p>Pirate Weight: <%= @pirate.weight %></p>

    <h2>First Ship: <%= @ships[0].name %></h2>
    <p>Ship Type: <%= @ships[0].type %></p>
    <p>Ship Booty: <%= @ships[0].booty %></p>

    <h2>Second Ship: <%= @ships[1].name %></h2>
    <p>Ship Type: <%= @ships[1].type %></p>
    <p>Ship Booty: <%= @ships[1].booty %></p>
  </body>
</html>
